body {
    background-image: url("media/holidaybackground.jfif");
    font-family: 'Rubik', sans-serif;
    background-color: floralwhite;
    font-size: 1em;
}
nav{
    background-color: #777dff;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 1.5em 1.5em;
}
header{
    width: 100%;
}
header nav ul{
    float: left;
    display: block;
    padding: .5cm;
    text-decoration: none!important;
}
header nav ul li{
    float: left;
    display: block;
    padding: .5cm;
    text-decoration: none!important;
}
header nav ul li a{
    display: block;
    padding: 1.00em 0.9em;
    color: #0b0d08;
    text-decoration: underline;
}
h1{
	background-color: transparent;
}
h1, h2, h3{
    text-underline-offset: 0.09em;
    text-decoration: underline;
    text-align: center;
    position: relative;
}
p,li{
	text-align: center;
	position: relative;      
}
ul,ol{   
    display: table;
    margin: 0 auto;
}
p ~ p{
    padding-top: 5px;
}
p {
    display: block;
    margin-block-start: 1em;
    font-weight: bold;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
.first_page{
    background-image: url("media/resumebackground.jfif");
    background-repeat: no-repeat;
    background-size:cover;
}
.second_page{
    background-image: url("media/backgroundfood.jfif");
    background-repeat: no-repeat;
    background-size:cover;
}
img{
    height: 350px;
    width: 500px;
    margin: 3.0em auto;
    display: block;
    box-sizing: border-box;
}
iframe{
    height: 300px;
    width: 500px;
    margin: 2.5em auto;
    display: block;
    box-sizing: border-box;
}
section{
    padding: 10px 0;
}
section section{
    padding: 0 10px;
}
main{
    padding: 0 10px;
}
footer{
    clear: none;
    background-color: #f2f5f5;
}
